In [1]:
input (' what is your name?:')

 what is your name?: Mon nom est O.J

'Mon nom est O.J'

In [15]:
myset=[1,2,3,4,5]
myset
myset= ['o.j', 23,1.5]

In [61]:
fruits=[' apple','banana','pear']
fruits[2]='pawpaw'
fruits
fruits.append('pineapple')
fruits
fruits.insert(1,'coconut')
fruits
fruits.extend(['cucumber','golden melon'])
fruits
fruits.count('banana')
fruits.remove('coconut')
fruits

[' apple', 'banana', 'pawpaw', 'pineapple', 'cucumber', 'golden melon']

In [83]:
Numero=[1,2,3,4,5,6,7,8]
Numero.extend([9,10])
Numero.remove(2)
Numero.append(11)
Numero
name,age,gender=('tolu','44','male')
set={1,2,3,4}
set.add(5)
set
set.update([6,7,8,9])
set

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [93]:
a={1,2,3,4}
b={5,3,6,7}
c=a.intersection(b)
d=a.union(b)
c
d

{1, 2, 3, 4, 5, 6, 7}

In [3]:
names = input('what is your name?:')
age = input('how old are you?:')
print(f"my name is {names}, i am {age} years old")

what is your name?: gg
how old are you?: 9

my name is gg, i am 9 years old

In [9]:
def greet():
    return("hello there!")
greet()

'hello there!'

In [29]:
def name():
    return(str(input('what is your name?:')))
name()
def sub(a,b):
    return(a-b)
sub (9,3)

what is your name?: ojay

6

In [35]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [37]:
for i in range(1,51):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [61]:
m=9
if m== 9:
    print('true')
a= 11
if a> 10:
    print ('yes')
else:
    print ('noo')

true
yes

In [9]:
for i in range (1,13):
    print (i*4)

4
8
12
16
20
24
28
32
36
40
44
48

In [29]:
def add (a,b):
    return(a+b)
add(10,20)

def multiply (a,b):
    return(a*b)
multiply(10,4)